/* Osama's Blog's slate System
 *
 * A minimalistic, small footprint slateing system
 * developed in order to have simpler yet inuitive 
 * web page slateing mechanism, which uses meaningful 
 * class names so as to make the markup more readible
 * and understandable at initial glances.
 *
 * TODO:INSERT BITBUCKET PRIVATE REPO LINK HERE
 * 
 * © Osama Iqbal - SuperBatCode.
 */

/* CSS Box Model, for keeping page sanity
 * because the padding and border expand the 
 * width and height area, instead of cutting into it.
 * More Details: http://css-tricks.com/box-sizing/
 */
.slate, 
.row {
    -webkit-box-sizing: border-box; /* For Safarii/Chrome and Other Webkit Browsers */
    -moz-box-sizing: border-box; /* For Firefox and Other Gecko Browsers */
    box-sizing: border-box; /* For Opera/IE8+ Browsers */
}

/* Floating and display rules, so as to keep nested slates intact */
.slate {
    /* Display specifies the type of 'box' used for an HTML element */
    display: block; /* Displays an element as a block element (like <p>, it brings the element to the next line) */
    
    /* Clear specefies on which side 'floating' elements (float CSS property) are not allowed */
    clear: both; /* Floating elements are not allowed on both ends, that is, both the left and right side of the row */
}

/* Properties of Initializer ('start' class nested withing a 'row' class) */
.slate .row {
    /* A floated element will move as far to the left or right as it can, as specified by the float properties value. */
    float: left; /* The <div> with the start class will float to the left, that is, content within the row will be written from left hand                         side */
    
    /* The width property sets the width of an element */
    width: 100%; /* Set the width of the <div> with start class nested within a row class to 100%, that is, 100% width in comparision to                         parent block */
    
    /* The padding clears an area around the content (inside the border) of an element */
    padding: 10px; /* All the four paddins, that is, top, bottom, left and right padding are 10 pixels in size */
}

/* This ensures the outer gutters are equal to the (doubled) inner gutters. */
.slate .row:first-child {
    padding-left: 20px;
}
.slate .row:last-child {
    padding-right: 20px;
}
/* Halving the Gutter */
.half-gutters.slate > .row:first-child {
    padding-left : 10px;  
  
}
.half-gutters.slate > .row:last-child {
    padding-right : 10px;  
  
}
.half-gutters.slate  > .row {
    padding : 5px;  
  
}

/* One-Thirding the Gutter */
.onethird-gutters.slate > .row:first-child {
    padding-left : 7px;  
  
}
.onethird-gutters.slate > .row:last-child {
    padding-right : 7px;  
  
}
.onethird-gutters.slate  > .row {
    padding : 4px;  
  
}

/*One-Fourthing the Gutter*/
.onefourth-gutters.slate > .row:first-child {
    padding-left : 5px;  
  
}
.onefourth-gutters.slate > .row:last-child {
    padding-right : 5px;  
  
}
.onefourth-gutters.slate  > .row {
    padding : 3px;  
  
}

/* Three-fourthing the Gutter */
.threefourth-gutters.slate > .row:first-child {
    padding-left : 14px;
}

.threefourth-gutters.slate > .row:last-child {
    padding-right: 14px;
}

.threefourth-gutters.slate > .row {
    padding : 7px;
}

/* Nested slates already have padding though, so let’s nuke it */
.row .row:first-child { padding-left: 0; }
.row .row:last-child { padding-right: 0; }
.row .slate:first-child > .row { padding-top: 0; }
.row .slate:last-child > .row { padding-bottom: 0; }

/* Let people nuke the gutters/padding completely in a couple of ways */
.no-gutters .row,
.row.no-gutters {
  padding: 0 !important;
}

/* Wrapping at a maximum width is optional */
.wrap .slate,
.slate.wrap {
  max-width: 978px;
  margin: 0 auto;
}

/* Width classes also have shorthand versions numbered as fractions
 * For example: for a slate row 1/3 (one third) of the parent width,
 * simply apply class="w-1-3" to the element. */
.slate .full,           .slate .width-1-1,      .slate .width-100-percent { width: 100%; }
.slate .four-fifth,     .slate .width-4-5,          .slate .width-80-percent { width: 80%; }
.slate .three-quarter,
.slate .three-fourth,   .slate .width-3-4,          .slate .width-75-percent { width: 75%; }
.slate .two-third,      .slate .width-2-3,      .slate .width-66-percent { width: 66.6665%; }
.slate .three-fifth,    .slate .width-3-5,          .slate .width-60-percent { width: 60%; }
.slate .half,           .slate .width-1-2,      .slate .width-50-percent { width: 50%; }
.slate .two-fifth,      .slate .width-2-5,          .slate .width-40-percent { width: 40%; }
.slate .one-third,      .slate .width-1-3,      .slate .width-33-percent { width: 33.3332%; }
.slate .one-quarter,
.slate .one-fourth,     .slate .width-1-4,          .slate .width-25-percent { width: 25%; }
.slate .one-fifth,      .slate .width-1-5,          .slate .width-20-percent { width: 20%; }
/*.slate .golden-small,   .slate .w-g-s { width: 38.2716%; } /* Golden section: smaller piece */
/*.slate .golden-large,   .slate .w-g-l { width: 61.7283%; } /* Golden section: larger piece */

/* Clearfix after every .slate */
.slate {
  *zoom: 1;
}
.slate:before, .slate:after {
  display: table;
  content: "";
  line-height: 0;
}
.slate:after {
  clear: both;
}

/* Utility classes */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }

/* A property for a better rendering of images in rows: in
   this way bigger pictures are just resized if the row
   becomes smaller */
.row img {
  max-width: 100%;
}

/* Responsive Stuff */
@media screen and (max-width: 568px) {
  /* Stack anything that isn’t full-width on smaller screens 
     and doesn't provide the no-stacking-on-mobiles class */
  .slate:not(.no-stacking-on-mobiles) > .row {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row .slate .row {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .slate,
  .slate.wider {
    max-width: 1180px;
    margin: 0 auto;
  }
}
