/*
 * slateism demonstration page
 * These styles are all just for the slateism demo page.
 * You don’t need this styleshee in your project.
 */

/* General */

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background: #FBF6F4;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

/* I use full-width horizontal sections a lot */

body > section {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}
h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -.05em;
  font-size: 2em;
}

p{
  font-size: 1.2em;
  line-height: 1.8em;
}


@media (min-width: 960px){
 
  h2 {
    font-size: 2.6em;
 }
}

/* Styles to help demonstrate the slate */
pre {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, monospace;
  background: #354C59;
  color: #1EAA9F;
  padding: 3px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.8em;
  
}



.demo p {
  margin: 0;
}

.demo .row pre {
  margin: 0;
  padding: 20px 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.demo .row pre:hover {
  background: #1EAA9F;
  color:#354C59;
}

.slate, .row {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.demo .row .slate {
  overflow: hidden;
  background: rgba(241,227,213,.5);
}

.demo .row .slate:first-child {
  border-radius: 5px 5px 0 0;
}

.demo .row .slate:last-child {
  border-radius: 0 0 5px 5px;
}
